{% extends "base.html" %}

{% block title %}Add a song | {{ super() }}{% endblock %}

{% block content %}
  <div class="row pb-5 px-3">

    <div class="col-2 border-round"></div>

    <div class="col-lg-8 col-10">
      <div class="alert alert-primary">You may click on a cell to enter the song name.</div>
      <table class="table table-bordered table-striped shadow">
        <thead>
          <tr><th scope="col">Time Slot</th><th scope="col">Tuesday</th><th scope="col">Wednesday</th><th scope="col">Thursday</th><th scope="col">Friday</th></tr>
        </thead>
        <tbody>
          <tr class="bg-dark text-white"><th scope="row">First of the Day</th><td>Время, вперед!</td><td>Time, Forward!</td><td>时代，前进!</td><td>Official Intro</td></tr>
          <tr><th scope="row">7:35</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row"><span class="invisible">7:35</span></th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row"><span class="invisible">7:35</span></th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row"><span class="invisible">7:35</span></th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row"><span class="invisible">7:35</span></th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">7:55</th><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
