{% extends "base.html" %}

{% block title %}Add a song | {{ super() }}{% endblock %}

{% block head %}
  {{ super() }}
  <style>
      table#timetable > tbody > tr > :not(:empty) {
          background-color: #f8f9fa;
      }

      table#timetable > tbody > tr > :empty {
          transition: box-shadow 0.2s ease;
      }

      table#timetable > tbody > tr > :empty:hover {
          box-shadow: 0 0 20px 1px #c0c0c0;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row pb-5 px-3">

    <div class="col-2 border-round"></div>

    <div class="col-lg-8 col-10">
      <div class="alert alert-primary">You may click on a cell to enter the song name.</div>
      <table id="timetable" class="table table-bordered shadow">
        <thead class="thead-dark">
          <tr><th scope="col">Slot</th><th scope="col">Tuesday</th><th scope="col">Wednesday</th><th scope="col">Thursday</th><th scope="col">Friday</th></tr>
        </thead>
        <tbody>
          <tr><th scope="row">1</th><td>Время, вперед!</td><td>Time, Forward!</td><td>时代，前进!</td><td>Official Intro</td></tr>
          <tr><th scope="row">2</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">3</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">4</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">5</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">6</th><td></td><td></td><td></td><td></td></tr>
          <tr><th scope="row">7</th><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
