<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>{% block title %}Pao Radio Station{% endblock %}</title>

      <link rel="stylesheet" href="/static/vendors/bootstrap/bootstrap.min.css">
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">

    {% block header %}
      <header>
        {# Consider a navbar? #}
        <h1 class="text-center pt-3 pb-5">Pao Radio Station</h1>
      </header>
    {% endblock %}

    <main>
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </main>

    {% block footer %}
      <footer class="mt-auto">
        <div class="container-fluid bg-light text-right py-2 border-top">
          <span class="text-muted">Website by YKPS Foo Bar</span>
        </div>
      </footer>
    {% endblock %}

    {% block scripts %}
      <script src="/static/vendors/jquery/jquery.min.js"></script>
      <script src="/static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    {% endblock %}

  </body>
</html>
