{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
  {{ super() }}
  <style>
      table#timetable > tbody > tr > :not(:empty) {
          background-color: #f8f9fa;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="row pb-5 px-3">

    <div class="col-2 border-round">Fancy table of last week</div>

    <div class="col-lg-8 col-10">
      <table id="timetable" class="table table-bordered shadow">
        <thead class="thead-dark">
          <tr><th scope="col">Slot</th><th scope="col">Tuesday</th><th scope="col">Wednesday</th><th scope="col">Thursday</th><th scope="col">Friday</th></tr>
        </thead>
        <tbody>
          <tr><th class="bg-light" scope="row">1</th><td>Время, вперед!</td><td>Time, Forward!</td><td>时代，前进!</td><td>Official Intro</td></tr>
          <tr><th class="bg-light" scope="row">2</th><td></td><td></td><td></td><td></td></tr>
          <tr><th class="bg-light" scope="row">3</th><td></td><td></td><td></td><td></td></tr>
          <tr><th class="bg-light" scope="row">4</th><td></td><td></td><td></td><td></td></tr>
          <tr><th class="bg-light" scope="row">5</th><td></td><td></td><td></td><td></td></tr>
          <tr><th class="bg-light" scope="row">6</th><td></td><td></td><td></td><td></td></tr>
          <tr><th class="bg-light" scope="row">7</th><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
      <a href="/pay" class="btn btn-primary btn-lg btn-block">Add a song!</a>
    </div>

    <div class="col-lg-2 col-12">
      <div class="row">
        <div class="col-3 col-lg-12 px-0 card" data-toggle="tooltip" data-placement="left" title="Make suggestions or simply come and talk!">
          <img class="card-image img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/800px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="QR Code">
        </div>
        <div class="col-3 col-lg-12 px-0 card" data-toggle="tooltip" data-placement="left" title="For special instructions such as ordering for an entire day">
          <img class="card-image img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/800px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="QR Code">
        </div>
        <div class="col-6 col-lg-12 px-0 card">
          <div class="card-body">Other contacts</div>
        </div>
      </div>
    </div>

  </div>

  <p>Make YK Pao Great Again!</p>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
      $('[data-toggle="tooltip"]').tooltip()
  </script>
{% endblock %}
